{% extends "MPPD_layout.html" %}
{% block title %}Change Log{% endblock %}
{% block head%}
<script type="text/javascript" src="{{ url_dir + url_for('statisch', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_dir + url_for('statisch', filename='js/jquery.csv.js') }}"></script>
<script type="text/javascript">
    
       
    $(document).ready(function(){
        var getTSV = jQuery.csv("\t");
        var csvfile1 = "{{url_dir + url_for('datasets', filename='all_cluster_by_res.csv')}}";
        
        jQuery.get(csvfile1, function(data) { array1 = getTSV(data); });
//        alert("done");
 //       alert(array1[0]);
         });
         

</script>
{% endblock%}
{% block body %}
<h2>ChangeLog</h2>
<ul>
<li>10-02-2012 Update:   Propensities@DMPC: RHYTHM calculation updated</li>   
<li>09-02-2012 Bugfix:   Propensities@DMPC: RHYTHM position "refresh"-bug fixed</li>   
<li>09-05-2012 Update:   Propensities@DMPC: FixedColumns Version: 2.5.0.dev</li>
<li>09-04-2012 Update:   Propensities@DMPC: DataTables Version: 1.94.dev</li>
<li>08-30-2012 Bugfix:   Internet Explorer: javascript error fixed</li>
<li>08-28-2012 Update:   Propensities@DMPC: New RHYTHM-chart with distance options</li>
<li>08-28-2012 Update:   Propensities@DMPC: RHYTHM-table: AA columnn fixed</li>
<li>08-27-2012 Bugfix:   Propensities@DMPC: Export as CSV fix</li>
<li>08-24-2012 Bugfix:   Propensities@DMPC: RHYTHM 'Infinity' fixed</li>
<li>08-24-2012 Bugfix:   Propensities@DMPC: 'Not found' prop-files</li>
<li>08-23-2012 Update:   Propensities@DMPC: RHYTHM faster calculation</li>
<li>08-23-2012 Update:   Propensities@DMPC: RHYTHM auto-color table by values</li>
<li>08-14-2012 Update:   Advanced Search: Validate options optimized</li>
<li>07-21-2012 Update:   Search: Channels & Coils added</li>
<li>06-15-2012 Update:   Propensities@DMPC: Regions added: Core, Headgroup, Complete</li>
<li>06-01-2012 Update:   Propensities@DMPC: RHYTHM Method</li>
<li>05-31-2012 Update:   Propensities@DMPC: NEW Superfamilies added: Coils, Channels</li>
<li>04-25-2012 Bugfix:   Download results</li>
<li>04-24-2012 Database: update [04.2012]</li>
<li>04-23-2012 Update:   Propensities@DMPC: Export as CSV </li>
<li>04-11-2012 Bugfix:   optimal proberadius search</li>
<li>04-03-2012 Update:   new design of result page </li>
<li>03-21-2012 Database: issues with alternative entries fixed</li>
<li>03-20-2012 Bugfix:   Propensities@DMPC: change family --> family based PDB identifier</li>
<li>02-23-2012 Update:   new propensity file format (".prop")</li>
<li>02-02-2012 Bugfix:   result table</li>
<li>01-24-2012 Update:   new result table design</li>
<li>01-12-2012 Update:   Propensities@DMPC</li>
<li>01-09-2012 Database: update [01.2012]</li>
<li>01-03-2012 Database: only high resolution ( &le;3.5&#8491;) </li>
<li>12-09-2011 Database: architecture optimised (>10-times faster)</li>
<li>11-21-2011 Update:   website design optimised</li>
<li>10-24-2011 Database: resolution &le;4.5&#8491; [6]</li>
<li>10-10-2011 Database: update [5]</li>
<li>08-17-2011 Database: update [4]</li>
<li>08-10-2011 Database: update [3]</li>
<li>08-04-2011 Database: update [2]</li>
<li>07-25-2011 Database: update [1]</li>
<li>07-04-2011 Database: update [0]</li>
<li>06-07-2011 Update:   new design online</li>
<li>03-25-2011 Database: update </li>
<li>02-17-2011 Stable version online</li>
<li>01-21-2011 Update:   stable version test</li>
<li>01-13-2011 Database: update </li>
<li>11-02-2010 Beta-Version launched</li>
</ul>


{%endblock%}
