{% extends "MPPD_layout.html" %}
{% block title %}FAQ{% endblock %}
{% block body %}


<div id="faq">

    <h2>FAQ</h2>

    <h3>What should I do when I see a security prompt from Java?</h3>
    <p>Java Update 21 introduces changes to the browser plugin security level. Opening Provi you'll receive a security warning from Java asking whether to block the use of the applet (choose: No).</p>


    <h3>Using keyword search resulted in no obvious results?</h3>
    <p>The keyword search is a full-text search based on the PDB entries KEYWDS, searching for "G-protein" will get you "<u>G-protein</u> coupled receptors,but also family A" AND "Bindin<u>g-protein</u>-dependent transport system". The keyword search is therefore not optimal for a family search. But its useful if you are looking for e.g. "transporter". However, you can sort the results table according to e.g. the family name and then select only those entries belonging to G-protein coupled receptors.</p>


    <h3>Which browsers are recommended for MPPD usage?</h3>
    <p>We have tested the site with Google Chrome 5.x+, Mozilla Firefox 3.x+, and Microsoft Internet Explorer 8. Our Visualisation Tool Provi works best with more recent and faster browser versions, e.g. the current version of <a href="http://www.google.com/chrome/" target="_blank">Google Chrome</a>.</p>


    <h3>There are problems showing the results in the built-in molecular viewer Provi.</h3>
    <p>Java must be installed in order to make Provi available. Make sure you are running an updated version of Java.
        <ul>
            <li>To test whether Java Applets in general are working on your computer, please consult <a href="http://www.java.com/en/download/testjava.jsp" target="_blank">this page</a> and if necessary follow the suggestions there.</li>

            <li>The 3D protein viewer component in Provi relies entirely on Jmol which requires a working Java installation. To test whether your combination operating system, web browser and Java supports Jmol, please visit <a href="http://jmol.sourceforge.net/browsercheck/" target="_blank">this page</a>.</li>

            <li>If your problem persists, please do not hesitate to contact us via <a href="mailto:alexander.rose@charite.de">email</a>.</li>
        </ul>
    </p>


    <h3>I can't find my protein in MPPD?</h3>
    <p>MPPD contains only polytopic, transmembrane spanning proteins. If you want a specific PDB file calculated, please <a href="mailto:alexander.rose@charite.de">contact us</a>.</p>


    <h3>Provi is slow, can I speed it up?</h3>
    <p>As with all graphical applications the performance heavily depends on the screen resolution. Reducing the size of the browser window down should result in a speed up.</p>

    <h3>Why do Monotopic helical membrane proteins have high packing density values?</h3>
    <p>For calculation of internal packing densities, only buried atoms are respected. For single spanning transmembrane helices only atoms buried within the helix are respected, because these proteins do not make up contacts with other transmembrane helices, i.e. there is no interaction interface where buried atoms are usually not tightly packed.</p>

</div>
{%endblock%}
