{% extends "MPPD_layout.html" %}
{% block title %}FAQ{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_dir + url_for('statisch',filename='tooltip.css')}}">
{% endblock%}
{% block body %}




<div id="faq">

<h2>FAQ<oben></oben></h2>

<table>
    <tr>
        <td class="number">1.</td>
        <td><a href="#q01" class="intralink" > What should I do when I see a security prompt from Java?</a></td>
    </tr>
    <tr>
        <td class="number">2.</td>
        <td><a href="#q02" class="intralink" > Using keyword search resulted in no obvious results? </a></td>
    </tr>
    <tr>
        <td class="number">3.</td>
        <td><a href="#q03" class="intralink" > Which browsers are recommended for MPPD usage?</a></td>
    </tr>
    <tr>
        <td class="number">4.</td>
        <td><a href="#q04" class="intralink" > There are problems showing the results in the built-in molecular viewer Provi.</a></td>
    </tr>
    <tr>
        <td class="number">5.</td>
        <td><a href="#q06" class="intralink" > I can't find my protein in MPPD?</a></td>
    </tr>
    <tr>
        <td class="number">6.</td>
        <td><a href="#q07" class="intralink" > Provi is slow, can I speed it up?</a></td>
    </tr>
</table>
<br><br>


 <a name="q01" class="intralink" ><h3>1. What should I do when I see a security prompt from Java?<toplink></toplink></h3></a>
Java Update 21 introduces changes to the browser plugin security level. Opening Provi you'll receive a security warning from Java asking whether to block the use of the applet (choose: No).
<br><br>


 <a name="q02" class="intralink"><h3>2. Using keyword search resulted in no obvious results? </h3></a>
The keyword search is a full-text search based on the PDB entries KEYWDS, searching for "G-protein" will get you "<u>G-protein</u> coupled receptors,but also family A" AND "Bindin<u>g-protein</u>-dependent transport system". The keyword search is therefore not optimal for a family search. But its useful if you are looking for e.g. "transporter".
<br><br>


 <a name="q03" class="intralink"><h3>3. Which browsers are recommended for MPPD usage?<toplink></toplink></h3></a>
We have tested the site with Google Chrome 5.x+, Mozilla Firefox 3.x+, and Microsoft Internet Explorer 8. Our Visualisation Tool Provi works best with more recent and faster browser versions, e.g. the current version of <a href="http://www.google.com/chrome/" target="_blank">Google Chrome</a>.
<br><br>


 <a name="q04" class="intralink"><h3>4. There are problems showing the results in the built-in molecular viewer Provi.</h3></a>
Java must be installed in order to make Provi available. Make sure you are running an updated version of Java.<br><br>

* To test whether Java Applets in general are working on your computer, please consult <a href="http://www.java.com/en/download/testjava.jsp" target="_blank">this page</a> and if necessary follow the suggestions there.<br><br>

* The 3D protein viewer component in Provi relies entirely on Jmol which requires a working Java installation. To test whether your combination operating system, web browser and Java supports Jmol, please visit <a href="http://jmol.sourceforge.net/browsercheck/" target="_blank">this page</a>.<br><br>

* If your problem persists, please do not hesitate to contact us via <a href="mailto:alexander.rose@charite.de">email</a>.
<br><br>


<a name="q05" class="intralink"><h3>5. I can't find my protein in MPPD?<toplink></toplink></h3></a>
MPPD contains only polytopic, transmembrane spanning proteins. If you want a specific PDB file calculated, please <a href="mailto:alexander.rose@charite.de">contact us</a>.
<br><br>


<a name="q06" class="intralink"><h3>6. Provi is slow, can I speed it up?<toplink></toplink></h3></a>
As with all graphical applications the performance heavily depends on the screen resolution. Reducing the size of the browser window down should result in a speed up.
<br><br>


</div>
{%endblock%}
