{% extends "MPPD_layout.html" %}
{% block title %}Grid{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ static('js/SlickGrid/slick.grid.css')}}" type="text/css"/>
<script src="{{ js('SlickGrid/lib/jquery-ui-1.8.16.custom.min.js')}}"></script>
<script src="{{ js('SlickGrid/lib/jquery.event.drag-2.2.js')}}"></script>
<script src="{{ js('SlickGrid/slick.core.js')}}"></script>
<script src="{{ js('SlickGrid/slick.grid.js')}}"></script>
<script src="{{ js('SlickGrid/plugins/slick.autotooltips.js')}}"></script>
<script src="{{ js('SlickGrid/plugins/slick.rowselectionmodel.js')}}"></script>
<script src="{{ js('mppd.remotemodel.js')}}"></script>

{% endblock%}
{% block body %}

<div style="width:850px; float:left;">
    <div>Download table:
        <a id="sele_dl" href="#">selected</a>
            (<span id="sele_no">0</span>),
        <a id="all_dl" href="#" target="_blank">all</a>
            (<span id="all_no">0</span>)
    </div>
    <div id="myGrid" style="width:100%; height:400px;"></div>
</div>

<script>
    var grid;
    var loader = new Slick.Data.MppdRemoteModel();
    var provi_url = "{{provi_url}}";

    var actionsFormatter = function( row, cell, value, columnDef, dataContext ){
        var info = '<i row="' + row + '" class="icon-info-sign" title="show info" style="cursor:pointer;"></i>';
        var view = '';
        var download = '';
        if( dataContext["status"]=="included" ){
            view = '<a style="text-decoration:none;" target="_blank" ' +
                'href="' + provi_url + 
                    '?dir=mppd&file=' + value + '/mppd.provi">' +
                '<i class="icon-eye-open" title="view in Provi"></i>' +
            '</a>';
            download = '<a style="text-decoration:none;" ' +
                    'href="../download/' + value + '">' +
                '<i class="icon-download-alt" title="download data"></i>' +
            '</a>';
        }
        return [ info, view, download ].join(" ");
    };

    var columns = [
        { id: "pdb_id", name: "ID", field: "pdb_id", width: 50, sortable: true },
        { id: "actions", name: "Actions", field: "pdb_id", width: 60, sortable: false, formatter: actionsFormatter },
        { id: "pdb_experiment", name: "Experiment", field: "pdb_experiment", width: 130, sortable: true },
        { id: "pdb_resolution", name: "Resolution", field: "pdb_resolution", width: 45, sortable: true },
        { id: "pdb_title", name: "Title", field: "pdb_title", width: 370, sortable: true },
        { id: "tm_packdens_protein_buried", name: "Packing Density, TM", field: "tm_packdens_protein_buried", width: 45, sortable: true },
        { id: "tm_water_count", name: "Water Count, TM", field: "tm_water_count", width: 45, sortable: true },
        { id: "tm_residue_count", name: "Residue Count, TM", field: "tm_residue_count", width: 45, sortable: true },
        { id: "tm_cavity_count", name: "Cavity Count, TM", field: "tm_cavity_count", width: 45, sortable: true },
        { id: "pdb_keywords", name: "Keywords", field: "pdb_keywords", width: 150, sortable: true },
        
        { id: "opm_superfamily", name: "OPM Superfamily", field: "opm_superfamily", width: 150, sortable: true },
        { id: "opm_family", name: "OPM Family", field: "opm_family", width: 150, sortable: true },
        { id: "opm_reresentative", name: "OPM Representative", field: "opm_representative", width: 60, sortable: true },
        { id: "opm_species", name: "OPM Species", field: "opm_species", width: 150, sortable: true },
        { id: "opm_related", name: "OPM Related", field: "opm_related", width: 150, sortable: true },

        { id: "mpstruc_group", name: "MPstruc Group", field: "mpstruc_group", width: 150, sortable: true },
        { id: "mpstruc_subgroup", name: "MPstruc Subgroup", field: "mpstruc_subgroup", width: 150, sortable: true },
        { id: "mpstruc_name", name: "MPstruc Name", field: "mpstruc_name", width: 150, sortable: true },
        { id: "mpstruc_species", name: "MPstruc Species", field: "mpstruc_species", width: 150, sortable: true },
        { id: "mpstruc_master", name: "MPstruc Master", field: "mpstruc_master", width: 60, sortable: true },
        { id: "mpstruc_related", name: "MPstruc Related", field: "mpstruc_related", width: 150, sortable: true },

        { id: "curated_representative", name: "Curated Representative", field: "curated_representative", width: 60, sortable: true },
        { id: "curated_related", name: "Curated Related", field: "curated_related", width: 150, sortable: true },

        { id: "status", name: "Status", field: "status", width: 100, sortable: true },
    ];


    var options = {
        rowHeight: 24,
        editable: false,
        enableAddRow: false,
        enableCellNavigation: true,
        enableColumnReorder: false,
        // multiColumnSort: true // remote data provider needs adjustment
    };

    var loadingIndicator = null;

    
    var info_included = _.template(
        ''
    );
    var info_excluded = _.template(
        '<p><b>Not included:</b> <%= status %></p>'
    );
    var info_base = _.template(
        '<p><b>ID:</b> <%= pdb_id %></p>' + 
        '<p><b>Title:</b> <%= pdb_title %></p>' +
        '<p><b>OPM family:</b> <%= opm_family %></p>' +
        '<p><b>OPM representative:</b> <%= opm_representative %></p>' +
        '<p><b>OPM related:</b> <%= opm_related %></p>' +
        '<p><b>MPstruc subgroup:</b> <%= mpstruc_subgroup %></p>' +
        '<p><b>Keywords:</b> <%= pdb_keywords %></p>' +
        '<p><b>Links:</b> ' +
            '<a href="http://www.rcsb.org/pdb/explore/explore.do?structureId=<%= pdb_id %>" target="_blank">RCSB</a>, ' +
            '<a href="http://opm.phar.umich.edu/protein.php?search=<%= pdb_id %>" target="_blank">OPM</a>, ' +
            '<a href="http://pdbtm.enzim.hu/?_=/hitlist/Protein/%2560pdb_id%2560%2520LIKE%2520%2527%2525<%= pdb_id %>%2525%2527" target="_blank">PDBTM</a>, ' +
            '<a href="http://blanco.biomol.uci.edu/mpstruc/" target="_blank">MPstruc</a>, ' +
        '</p>'
    );
    var info_tmpl = function( d ){
        var info;
        if( d["status"]=="included" ){
            info = info_included( d );
        }else{
            info = info_excluded( d );
        }
        return '' +
            '<div style="margin:10px; font-size:1.4em; line-height:1.4em;" >' +
                '<p>' + info_base( d ) + '</p>' +
                '<p>' + info + '</p>' +
            '</div>' +
        '';
    }

    $('#myGrid').on( 'click', '.icon-info-sign', function(e){
        var elm = $(e.originalEvent.target);
        var d = loader.data[ elm.attr("row") ];
        elm.qtip({
            overwrite: false,
            content: info_tmpl( d ),
            position: { 
                my: 'center left', 
                at: 'right center',
                viewport: $(window)
            },
            style: {
                widget: true,
                def: false
            },
            show: { 
                event: e.type, 
                ready: true 
            },
            hide: {
                event: "unfocus click"
            }
        }, e);
    });

    $(function () {

        var adjustGridSize = function(){
            console.log( $("#myGrid").height(), $( window ).height() );
            $("#myGrid").height( $( window ).height() - 240 );
            grid.resizeCanvas();
        }

        $( window ).resize( adjustGridSize );

        grid = new Slick.Grid("#myGrid", loader.data, columns, options);
        adjustGridSize();

        grid.setSelectionModel( new Slick.RowSelectionModel() );

        grid.onSelectedRowsChanged.subscribe( function(){
            var rows = grid.getSelectedRows();
            $('#sele_no').text( rows.length );
            var url = "#";
            var target = "";
            if( rows.length ){
                url = "../query" + 
                    "?keywds=" + $("#txtSearch").val() + 
                    "&sele=" + rows.join(",") +
                    "&csv=1";
                sort = grid.getSortColumns();
                if( sort.length ){
                    url += "&sortby=" + sort[0].columnId + 
                        "&dir=" + ( sort[0].sortAsc ? "asc" : "desc" );
                }
                target = "_blank";
            }
            $('#sele_dl')
                .attr( "href", url )
                .attr( "target", target );
        })

        grid.onScroll.subscribe( function(){ 
            $('.qtip.ui-tooltip').qtip('hide');
        });

        grid.onViewportChanged.subscribe(function (e, args) {
            var vp = grid.getViewport();
            loader.ensureData(vp.top, vp.bottom);
        });

        grid.onSort.subscribe(function (e, args) {
            grid.setSelectedRows([]);
            loader.setSort(args.sortCol.field, args.sortAsc ? 1 : -1);
            var vp = grid.getViewport();
            loader.ensureData(vp.top, vp.bottom);
        });

        /*loader.onDataLoading.subscribe(function () {
            if (!loadingIndicator) {
                loadingIndicator = $("<span class='loading-indicator'><label>Buffering...</label></span>").appendTo(document.body);
            var $g = $("#myGrid");

            loadingIndicator
                .css("position", "absolute")
                .css("top", $g.position().top + $g.height() / 2 - loadingIndicator.height() / 2)
                .css("left", $g.position().left + $g.width() / 2 - loadingIndicator.width() / 2);
            }

            loadingIndicator.show();
        });*/

        loader.onDataLoaded.subscribe(function (e, args) {
            for (var i = args.from; i <= args.to; i++) {
                grid.invalidateRow(i);
            }

            // console.log(grid, grid.getSortColumns());
            $('#all_no').text( grid.getDataLength() );
            var url = "../query?keywds=" + $("#txtSearch").val() + "&csv=1"
            sort = grid.getSortColumns();
            if( sort.length ){
                url += "&sortby=" + sort[0].columnId + 
                    "&dir=" + ( sort[0].sortAsc ? "asc" : "desc" );
            }
            $('#all_dl').attr( "href", url );

            grid.updateRowCount();
            grid.render();

            // loadingIndicator.fadeOut();
        });

        if( _.isString( $.query.get('q') ) ){
            $("#txtSearch").val( $.query.get('q') );
        }
        loader.setSearch($("#txtSearch").val());
        loader.setSort("pdb_id", 1);

        grid.registerPlugin( 
            new Slick.AutoTooltips({ enableForHeaderCells: true })
        );

        // load the first page
        grid.onViewportChanged.notify();
    })
</script>

{%endblock%}
