{% extends "MPPD_layout.html" %}
{% block title %}Links{% endblock %}
{% block body %}

    
<div>

    <h2>Links</h2>

    <h3>Databases</h3>

    <p style="padding-top:15px;">
        <a href="http://opm.phar.umich.edu/" target="_new">
            <img src="http://opm.phar.umich.edu/images/opm.gif" style="width:300px; display:block; " border="0" />
        </a>
        <i>OPM</i> Orientations of Proteins in Membranes (OPM) database
    </p>

    <p style="padding-top:15px;">
        <a href="http://pdbtm.enzim.hu/" target="_new">
            <font color="#007700" size="3" style="display:block;">PDBTM</font>
        </a>
        <i>PDBTM</i>, Protein Data Bank of Transmembrane Proteins
    </p>

    <p style="padding-top:15px;">
        <a href="http://blanco.biomol.uci.edu/mpstruc" target="_new">
            <img src="{{ img('MP_xtal_logo_250x91.gif') }}" style="width:300px; display:block;" border="0" />
        </a>
        <i>Membrane Proteins of Known 3D Structure</i>, a current list of membrane protein structures determined by x-ray and electron diffraction with links to the Protein Data Bank and other useful sites.
    </p>


    <br/><br/>
    <h3>Tools</h3>

    <p style="padding-top:15px;">
        <a href="http://mtz01-a.stanford.edu/programs/documentation/dowser/Dowser.htm" target="_new">
            <font color="#007700" size="3" style="display:block;">DOWSER program</font>
        </a>
        The <i>DOWSER</i> program surveys a protein molecule's structure to locate internal cavities and assess the hydrophilicity of these cavities in terms of the energy of interaction of a water molecule with the surrounding atoms. 
    </p>


    <br/><br/>
    <h3>Our web services</h3>

    <p style="padding-top:15px;">
        <a href="http://bioinformatics.charite.de/superlooper/" target="_new">
            <img src="{{ img('superlooper.jpg') }}" style="width:100px; display:block;" border="0" />
        </a>
        <i>SuperLooper</i> provides an online interface for the automatic, quick and interactive search and placement of loops in proteins.
    </p>

    <p style="padding-top:15px;">
        <a href="http://bioinf-services.charite.de/voronoia/" target="_new">
            <img src="{{ img('voronoia.jpg') }}" style="width:100px; display:block;" border="0" />
        </a>
        <i>Voronoia</i> is a program suite to analyze and visualize the atomic packing of protein structures.
    </p>

    <p style="padding-top:15px;">
        <a href="http://proteinformatics.charite.de/voronoia4rna/" target="_new">
            <img src="http://proteinformatics.charite.de/voronoia4rna/static/img/v4rna.jpg" style="width:100px; display:block;" border="0" />
        </a>
        <i>Voronoia for RNA</i>, a database storing data on atomic packing densities of RNA structures and complexes.
    </p>

    <p style="padding-top:15px;">
        <a href="http://proteinformatics.charite.de/rhythm/" target="_new">
            <img src="{{ img('rhythm.jpg') }}" style="width:100px; display:block;" border="0" />
        </a>
        <i>Rhythm</i> is a server to predict the orientation of transmembrane helices in channels and membrane-coils.
    </p>


</div>

{%endblock%}