{% extends "MPPD_layout.html" %}
{% block title %}Links{% endblock %}
{% block body %}

<h2>Links</h2>

<div class="links">

    <div>
        <a href="http://proteinformatics.charite.de/voronoia4rna/" target="_new">
            <div style="height:100px;width:100px;padding:0px;padding-right:30px;">
                <img src="http://proteinformatics.charite.de/voronoia4rna/static/img/v4rna.jpg" style="width:100px; align:center;padding-top:15px;" border="0" />
            </div>
            &nbsp;&nbsp;
            <b>Voronoia for RNA</b>, a database storing data on atomic packing densities of RNA structures and complexes.
        </a>        
    </div>

    <div>
        <a href="http://proteinformatics.charite.de/rhythm/" target="_new">
            <div style="height:100px;width:100px;padding:0px;padding-right:30px;">
                <img src="{{ img('rhythm.jpg') }}" style="width:100px; align:center;padding-top:15px;" border="0" />
            </div>
            &nbsp;&nbsp;
            <b>Rhythm</b> is a server to predict the orientation of transmembrane helices in channels and membrane-coils.
        </a>
    </div>

    <div>
        <a href="http://blanco.biomol.uci.edu/mpstruc" target="_new">
            <div style="height:100px;width:100px;padding:0px;padding-right:30px;">
                <img src="{{ img('MP_xtal_logo_250x91.gif') }}" style="width:100px; align:center;padding-top:40px;" border="0" />
            </div>
            &nbsp;&nbsp;
            <b>Membrane Proteins of Known 3D Structure</b>, a current list of membrane protein structures determined by x-ray and electron diffraction with links to the Protein Data Bank and other useful sites.
        </a>
    </div>

    <div>
        <a href="http://pdbtm.enzim.hu/" target="_new">
            <div style="height:100px;width:100px;padding:0px;padding-right:30px;">
                <img src="{{ img('pdbtm_logo.png') }}" style="width:100px; align:center;padding-top:15px;" border="0"/>
            </div>
            &nbsp;&nbsp;
            <b>PDBTM</b>, Protein Data Bank of Transmembrane Proteins
        </a>
    </div>

    <div>
        <a href="http://bioinformatics.charite.de/superlooper/" target="_new">
            <div style="height:100px;width:100px;padding:0px;padding-right:30px;">
                <img src="{{ img('superlooper.jpg') }}" style="width:100px; align:center;padding-top:15px;" border="0" />
            </div>
            &nbsp;&nbsp;
            <b>SuperLooper</b> provides an online interface for the automatic, quick and interactive search and placement of loops in proteins.
        </a>
    </div>

    <div>
        <a href="http://opm.phar.umich.edu/" target="_new">
            <div style="height:100px;width:100px;padding:0px;padding-right:30px;">
                <img src="http://opm.phar.umich.edu/images/opm.gif" style="width:100px; align:center;padding-top:20px;" border="0" />
            </div>
            &nbsp;&nbsp;
            <b>OPM</b> Orientations of Proteins in Membranes (OPM) database
        </a>
    </div>

    <div>
        <a href="http://bioinf-services.charite.de/voronoia/" target="_new">
            <div style="height:100px;width:100px;padding:0px;padding-right:30px;">
                <img src="{{ img('voronoia.jpg') }}" style="width:100px; align:center;padding-top:15px;" border="0" />
            </div>
            &nbsp;&nbsp;
            <b>Voronoia</b> is a program suite to analyze and visualize the atomic packing of protein structures.
        </a>
    </div>

    <div>
        <a href="http://mtz01-a.stanford.edu/programs/documentation/dowser/Dowser.htm" target="_new">
            <div style="height:100px;width:100px;padding:0px;padding-right:30px;">
                <font color="#007700" size="3" style="align:left;">DOWSER program</font>
            </div>
            &nbsp;&nbsp;
            The <b>DOWSER</b> program surveys a protein molecule's structure to locate internal cavities and assess the hydrophilicity of these cavities in terms of the energy of interaction of a water molecule with the surrounding atoms. 
        </a>
    </div>


</div>

{%endblock%}