{% extends "MPPD_layout.html" %}
{% block title %}References{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_dir + url_for('statisch',filename='tooltip.css')}}">
{% endblock%}
{% block body %}

   <div id="refs">
<h2>References</h2>

<p style="display:none;" id="ref_highlight_info">
  The reference you are looking for is <span style="background-color: #DDCCCC;">colored</span>.
</p>


<ol>

<!-- 1 -->
<!--
<li>
<div class="reference" id="ismer12" name="ismer12">
  <span class="title">Voronoia4RNA--a database of atomic packing densities of RNA structures and their complexes.</span>
  <span class="authors">Ismer J, Rose AS, Tiemann JK, Goede A, Rother K, Hildebrand PW.</span>
  <span class="magazine">Nucl. Acids Res.</span>
  <span class="year">(2013)</span>
  <span class="issue">41(Database issue):D280-4.</span>
</div> 
</li>
-->
<!-- 2 -->
<li>
<div class="reference" id="lomize12" name="lomize05">
  <span class="title">OPM database and PPM web server: resources for positioning of proteins in membranes.</span>
  <span class="authors">Lomize MA, Pogozheva ID, Joo H, Mosberg HI, Lomize AL. </span>
  <span class="magazine">Nucleic Acids Res.</span>
  <span class="year">(2012)</span>
  <span class="issue">40(Database issue):D370-6</span>
</div>
</li>
<!-- 3 -->
<!--
<li>
<div class="reference" id="rose10" name="rose10">
  <span class="title">MPlot - server to analyze and visualize tertiary structure contacts and geometrical features of helical membrane proteins.</span>
  <span class="authors">Rose A, Goede A, Hildebrand PW</span>
  <span class="magazine">Nucl. Acids Res.</span>
  <span class="year">(2010)</span>
  <span class="issue">38 (suppl 2): W602-W608.</span>
</div> 
</li>
-->
<!-- 4 -->
<li>
<div class="reference" id="hildebrand08" name="hildebrand08">
  <span class="title">Hydrogen-bonding and packing features of membrane proteins: functional implications.</span>
  <span class="authors">Hildebrand PW, Günther S, Goede A, Forrest L, Frömmel C, Preissner R</span>
  <span class="magazine">Biophys J.</span>
  <span class="year">(2008)</span>
  <span class="issue">94(6):1945-53</span>
</div> 
</li>
<!-- 5 -->
<!--
<li>
<div class="reference" id="hildebrand06" name="hildebrand06">
  <span class="title">Analysis and prediction of helix-helix interactions in membrane channels and transporters.</span>
  <span class="authors">Hildebrand PW, Lorenzen S, Goede A, Preissner R</span>
  <span class="magazine">Proteins.</span>
  <span class="year">(2006)</span>
  <span class="issue">64(1):253-62</span>
</div> 
</li>
-->
<!-- 6 -->
<!--<li>
<div class="reference" id="lomize06" name="lomize06">
  <span class="title">OPM: Orientations of proteins in membranes database. .</span>
  <span class="authors"> Lomize MA, Lomize AL, Pogozheva ID, Mosberg HI.</span>
  <span class="magazine">Bioinformatics</span>
  <span class="year">(2006)</span>
  <span class="issue">2006;22:623–625</span>
</div>
</li>
-->
<!-- 7 -->
<li>
<div class="reference" id="hildebrand05" name="hildebrand05">
  <span class="title">Molecular packing and packing defects in helical membrane proteins.</span>
  <span class="authors">Hildebrand PW, Rother K, Goede A, Preissner R, Frömmel C</span>
  <span class="magazine">Biophys J.</span>
  <span class="year">(2005)</span>
  <span class="issue">88(3):1970-7</span>
</div>
</li>
<!-- 7a -->
<!--
<li>
<div class="reference" id="Vo05" name="Vo05">
  <span class="title">Calculation of standard atomic volumes for RNA and comparison with proteins: RNA is packed more tightly.
</span>
  <span class="authors">Voss N R, Gerstein M</span>
  <span class="magazine">Journal of molecular biology</span>
  <span class="year">(2005)</span>
  <span class="issue">346.2, 477-92</span>
</div>
</li>
-->

<!-- 8 -->
<!--<li>
<div class="reference" id="BW04" name="BW04">
  <span class="title">A knowledge-based scale for the analysis and prediction of buried and exposed faces of transmembrane domain proteins.</span>
  <span class="authors">Beuming T, Weinstein H</span>
  <span class="magazine">Bioinformatics</span>
  <span class="year">(2004)</span>
  <span class="issue">(20) 12:1822-35</span>
</div>
</li>
-->
<!--8a-->
<li>
<div class="reference" id="RO03" name="RO03">
  <span class="title">Inhomogeneous molecular density: reference packing densities and distribution of cavities within proteins</span>
  <span class="authors">Rother K, Preissner R, Goede A, Froemmel C</span>
  <span class="magazine">Bioinformatics</span>
  <span class="year">(2003)</span>
  <span class="issue">(19) 5:2112-2121</span>
</div>

</li>

<!-- 9 -->
<!--
<li>
<div class="reference" id="Wh98" name="Wh98">
  <span class="title">Hydrophobic interactions of peptides with membrane interfaces</span>
  <span class="authors">White S H, Wimley W C</span>
  <span class="magazine">Biochimica et biophysica acta</span>
  <span class="year">(1998)</span>
  <span class="issue">1376: 339–52</span>
</div>
</li>
-->

<!-- 10 -->
<li>
<div class="reference" id="Go97" name="Go97">
  <span class="title">Voronoi Cell: New Method for Allocation of Space among Atoms: Elimination of Avoidable Errors in computation of Atomic Volume and Density.</span>
  <span class="authors">Goede, A., R. Preissner, and C. Froemmel</span>
  <span class="magazine">Binformatics</span>
  <span class="year">(1997)</span>
  <span class="issue">18:  42, 985-995</span>
</div>
</li>
<!-- 11 -->
<li>
<div class="reference" id="lindauer96" name="lindauer96">
  <span class="title">HBexplore - A New Tool for Identifying and Analyzing Hydrogen Bonding Patterns in Biological Macromolecules.</span>
  <span class="authors">Lindauer K, Bendic C, Suehnel</span>
  <span class="magazine">J. Comput. Appl. Biosci.</span>
  <span class="year">(1996)</span>
  <span class="issue">12, 281-289</span>
</div> 
</li>
<!-- 12 -->
<li>
<div class="reference" id="zhang96" name="zhang96">
  <span class="title">Hydrophilicity of cavities in proteins.</span>
  <span class="authors">Zhang L, Hermans J</span>
  <span class="magazine">Proteins: Structure, Function and Genetics</span>
  <span class="year">(1996)</span>
  <span class="issue">24: 433-438</span>
</div> 
</li>






   </div>
{%endblock%}
