{% extends "MPPD_layout.html" %}
{% block title%}Packing Database of Membrane Proteins{%endblock%}
{% block body %}
<div id="welcome">
	<div>
		<center><img src="{{ img('image.jpg') }}" style="padding-left: 15px; margin-right:15px;width:250px;float:right;" alt="MP:PD welcome"></center>

		<h2>Welcome</h2> <br>

		MP:PD is a comprehensive database of helical membrane proteins featuring internal atomic packing densities, internal cavities and internal waters. Membrane proteins are not tightly packed but contain a considerable number of internal cavities that differ in volume, polarity and solvent accessibility and in their filling with internal water. Serving as mobile hydrogen bonding donors or acceptors, internal waters located within cavities likely facilitate transitions between different functional states. Despite these distinct functional roles, internal cavities of helical membrane proteins are not well characterized, mainly because most internal waters are not resolved by crystal structure analysis. We combined various computational biophysical techniques to characterize internal cavities, reassign positions of internal waters and calculate internal packing densities. This data can be visualized online in Provi or downloaded to e.g. re-evaluate crystal structures. 
		<br><br>

		<h3>Reference</h3> 
		Alexander S. Rose, Dominic Theune, Andrean Goede and Peter W. Hildebrand: MP:PD – A data base of internal packing densities, internal waters and internal cavities in helical membrane proteins (to be published)
		<br><br>
		
		MP:PD was developed at the Charité - Universitätsmedizin Berlin by the ProteInformatics Group. 
		<br><br>
		
	</div>

	<br><br><br><br>

</div>
{%endblock%}
